/* Reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E3E6E6;
}

/* < Header > */

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  background-color: #131921;
  padding: 20px;
  color: #fff
}

/* < Form  >  */

#search-form {
  display: flex;
}

@media screen and (max-width: 600px) {
  #search-form {
    width: 80%;
    height: 15%;
  }
  
} 


/* < Search Fields  >  */

#search-field {
  padding: 10px;
  width: 300px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px 15px;
  background-color: #febd69;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#search-button svg {
  width: 15px;
  height: 15px;
  fill: #febd69;
}

/* < Search Field  />  */

/* < Form />  */

/* < Header /> */