/* Reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E3E6E6;
}

/* < Header > */

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  background-color: #131921;
  padding: 20px;
  color: #fff
}

/* < Form  >  */

#search-form {
  display: flex;
}

@media screen and (max-width: 600px) {
  #search-form {
    width: 80%;
    height: 15%;
  }
  
} 

/* < Search Fields  >  */

#search-field {
  padding: 10px;
  width: 300px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px 15px;
  background-color: #febd69;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#search-button svg {
  width: 15px;
  height: 15px;
  fill: #febd69;
  color: #131921;
}

/* < Search Field  />  */

/* < Form />  */

/* < Header /> */

/* < Results > */

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 250px));
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

/* < Product Box > */
.product-card {
  max-width: 250px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* < Products Info > */
.product-card img {
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.product-title {
  font-size: 9px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.product-rating {
  color: #ff9900;
  font-size: 8px;
}

.product-reviews {
  font-size: 7px;
  color: #555;
}

/* < Products Info /> */

/* < Product Box /> */

/* < Results /> */
